<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Docify" Language="1033" Version="1.0.0.0" Manufacturer="Docify" UpgradeCode="ca0eca5f-6e3e-4b57-93b2-9535f2d82db6">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

    <MajorUpgrade DowngradeErrorMessage="A newer version of Docify is already installed." />
    <MediaTemplate EmbedCab="yes" />

    <Feature Id="ProductFeature" Title="Docify" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>
  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Docify" />
      </Directory>
    </Directory>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="MainExecutable" Guid="ca0eca5f-6e3e-4b57-93b2-9535f2d82db6">
        <File Source="build\windows\x64\runner\Release\docify_boxed.exe" />
      </Component>
    </ComponentGroup>
  </Fragment>
</Wix>